Bug: Format uses base64urlpad

JWT uses `base64url` encoding. The code uses `base64urlpad`: https://github.com/ipld/js-dag-ucan/blob/main/src/formatter.js#L4

From the [spec](https://www.rfc-editor.org/rfc/rfc7515.txt):
```
Base64url Encoding
      Base64 encoding using the URL- and filename-safe character set
      defined in Section 5 of RFC 4648 [RFC4648], with all trailing '='
      characters omitted (as permitted by Section 3.2) and without the
      inclusion of any line breaks, whitespace, or other additional
      characters.  Note that the base64url encoding of the empty octet
      sequence is the empty string.  (See Appendix C for notes on
      implementing base64url encoding without padding.)
 ```


Thanks for catching this